<h2>Albums List</h2>

@if (loading()) {
  <div>Загрузка данных...</div>
} @else {
  <ul>
    @for (album of albums(); track album.id) {
      <li style="margin-bottom: 10px;">
        <a [routerLink]="['/albums', album.id]">
          <strong>{{ album.id }}</strong>. {{ album.title }}
        </a>
        
        <button (click)="deleteAlbum(album.id)" style="margin-left: 15px; color: red;">
          Delete
        </button>
      </li>
    } @empty {
      <li>Альбомов не найдено.</li>
    }
  </ul>
}